*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    background-color: #87CEEB;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
input{
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.check{
    width: 7rem;
    padding: 0.4rem;
    border-radius: 6px;
    background-color: #93d824;
    color: white;
    margin-left: 2.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
header{
    color: white;
}
.display{
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background:linear-gradient(180deg,#4aaaca,#bdbd08);
}